# -------------------------------------------------------------------
# Project name
# -------------------------------------------------------------------

COMPOSE_PROJECT_NAME=rothiss_minecraft

# -------------------------------------------------------------------
# Profiles, remove if not wanted
# -------------------------------------------------------------------

COMPOSE_PROFILES=enable_map,enable_monitor

# -------------------------------------------------------------------
# Server Settings
# -------------------------------------------------------------------

SERVER_NAME=rothiss_minecraft
SERVER_VERSION=1.20.4
SERVER_TYPE=PAPER
SERVER_PORT=25565
SERVER_TIMEZONE=Europe/Amsterdam

# -------------------------------------------------------------------
# Memory Settings
# -------------------------------------------------------------------

MEMORY=2G
INIT_MEMORY=2G
MAX_MEMORY=2G

# -------------------------------------------------------------------
# Java Settings
# -------------------------------------------------------------------

#JAVA_VERSION=:java8-multiarch
#JVM_OPTS=
#JVM_XX_OPTS=
#JVM_DD_OPTS=

# -------------------------------------------------------------------
# Docker Network Settings
# -------------------------------------------------------------------

NETWORK_NAME=rothiss_minecraft

# -------------------------------------------------------------------
# Back-up Settings
# -------------------------------------------------------------------

BACKUP_INTERVAL=4h
BACKUP_DELAY=10m
BACKUP_EXCLUDE=*.jar,cache,logs
BACKUP_PRUNE=7

# -------------------------------------------------------------------
# Rcon Settings
# -------------------------------------------------------------------

RCON_ENABLED=true
RCON_PASSWORD=password
RCON_PORT=25575

# -------------------------------------------------------------------
# Geyser Settings
# -------------------------------------------------------------------

GEYSER_PORT=19132

# -------------------------------------------------------------------
# IfluxDB Settings
# -------------------------------------------------------------------

INFLUXDB_ORG=
INFLUXDB_BUCKET=
INFLUXDB_ADMIN_TOKEN=

# -------------------------------------------------------------------
# Monitor Settings
# -------------------------------------------------------------------

MONITOR_GATHER_SERVERS=

# -------------------------------------------------------------------
# Telegraph Settings
# -------------------------------------------------------------------

TELEGRAF_PORT=

# -------------------------------------------------------------------
# DynMap Settings
# -------------------------------------------------------------------

DYNMAP_WEBSERVER_PORT=80

# -------------------------------------------------------------------
# Data locations
# -------------------------------------------------------------------

DATA_LOCATION=./data
BACKUP_LOCATION=./backups
CONFIG_LOCATION=./config
SETTINGS_LOCATION=./settings/minecraft
PLUGINS_LOCATION=./plugins
MODS_LOCATION=./mods
MODPACKS_LOCATION=./modpacks
DATAPACKS_LOCATION=./datapacks

# -------------------------------------------------------------------
# Mods/Plugins settings
# -------------------------------------------------------------------

#REMOVE_OLD_MODS: false
#REMOVE_OLD_MODS_DEPTH: 1
#REMOVE_OLD_MODS_INCLUDE: "*.jar"

# -------------------------------------------------------------------
# Uncomment to enable local mod packs
# -------------------------------------------------------------------

#MODPACK="/modpacks/SkyFactory-4_Server_4_2_4.zip"
#MODPACK_BASE_DIR: "/data"

# -------------------------------------------------------------------
# Uncomment to enable whitelist copy
# -------------------------------------------------------------------

#WHITELIST_LOCATION=/settings/whitelist.json

#SERVER_PROPERTIES_WHITELIST=true
#SERVER_PROPERTIES_ENFORCE_WHITELIST=true

# -------------------------------------------------------------------
# Uncomment to enable ops copy
# -------------------------------------------------------------------

#OPS_LOCATION=/settings/ops.json

# -------------------------------------------------------------------
# Uncomment to enable custom datapacks
# -------------------------------------------------------------------

#DATAPACK_FILES=/datapacks

#REMOVE_OLD_DATAPACKS: false
#REMOVE_OLD_DATAPACKS_DEPTH: 1
#REMOVE_OLD_DATAPACKS_INCLUDE: "*.zip"

# -------------------------------------------------------------------
# Uncomment to enable custom icon
# -------------------------------------------------------------------

#ICON_LOCATION=/settings/icon.png
#ICON_OVERWRITE=true

# -------------------------------------------------------------------
# Server Properties
# -------------------------------------------------------------------

OVERRIDE_SERVER_PROPERTIES=true

SERVER_PROPERTIES_ALLOW_FLIGHT=false
SERVER_PROPERTIES_ALLOW_NETHER=true

SERVER_PROPERTIES_ANNOUNCE_PLAYER_ACHIEVEMENTS=true

SERVER_PROPERTIES_BROADCAST_CONSOLE_TO_OPS=true
SERVER_PROPERTIES_BROADCAST_RCON_TO_OPS=true

SERVER_PROPERTIES_DIFFICULTY=hard

SERVER_PROPERTIES_ENABLE_COMMAND_BLOCK=true

SERVER_PROPERTIES_ENABLE_JMX_MONITORING=false
SERVER_PROPERTIES_JMX_MONITORING_HOST=

SERVER_PROPERTIES_ENABLE_STATUS=true

SERVER_PROPERTIES_ENFORCE_SECURE_PROFILE=false

SERVER_PROPERTIES_ENTITY_BROADCAST_RANGE_PERCENTAGE=100

SERVER_PROPERTIES_FORCE_GAMEMODE=false

SERVER_PROPERTIES_FUNCTION_PERMISSION_LEVEL=2

SERVER_PROPERTIES_GAMEMODE=survival

SERVER_PROPERTIES_GENERATE_STRUCTURES=true
SERVER_PROPERTIES_GENERATOR_SETTINGS={}

SERVER_PROPERTIES_HARDCORE=false

SERVER_PROPERTIES_LEVEL_NAME=world
SERVER_PROPERTIES_LEVEL_SEED=
SERVER_PROPERTIES_LEVEL_TYPE=minecraft:normal

SERVER_PROPERTIES_MAX_BUILD_HEIGHT=319
SERVER_PROPERTIES_MAX_PLAYERS=5
SERVER_PROPERTIES_MAX_TICK_TIME=60000
SERVER_PROPERTIES_MAX_WORLD_SIZE=29999984

SERVER_PROPERTIES_MOTD=Minecraft Server powered by Docker

SERVER_PROPERTIES_NETWORK_COMPRESSION_THRESHOLD=256

SERVER_PROPERTIES_ONLINE_MODE=true

SERVER_PROPERTIES_OP_PERMISSION_LEVEL=4

SERVER_PROPERTIES_PLAYER_IDLE_TIMEOUT=0

SERVER_PROPERTIES_PREVENT_PROXY_CONNECTIONS=false

SERVER_PROPERTIES_PREVIEWS_CHAT=false

SERVER_PROPERTIES_PVP=true

SERVER_PROPERTIES_ENABLE_QUERY=false

SERVER_PROPERTIES_REQUIRE_RESOURCE_PACK=false

SERVER_PROPERTIES_RESOURCE_PACK=
SERVER_PROPERTIES_RESOURCE_PACK_SHA1=

SERVER_PROPERTIES_SERVER_NAME=Minecraft Server powered by Docker

SERVER_PROPERTIES_SIMULATION_DISTANCE=16

SERVER_PROPERTIES_SNOOPER_ENABLED=true

SERVER_PROPERTIES_SPAWN_ANIMALS=true
SERVER_PROPERTIES_SPAWN_MONSTERS=true
SERVER_PROPERTIES_SPAWN_NPCS=true
SERVER_PROPERTIES_SPAWN_PROTECTION=16

SERVER_PROPERTIES_SYNC_CHUNK_WRITES=true

SERVER_PROPERTIES_USE_NATIVE_TRANSPORT=true

SERVER_PROPERTIES_VIEW_DISTANCE=16
