name: ${PROJECT_NAME:-minecraft}

services:
    minecraft:
        image: itzg/minecraft-server${JAVA_VERSION:-}
        container_name: ${CONTAINER_NAME:-minecraft}
        hostname: ${HOST_NAME:-minecraft}
        networks:
            - minecraft
        ports:
            - ${SERVER_PORT:-25565}:25565
            - ${GEYSER_PORT:-19133}:19133/udp
            - ${RCON_PORT:-25575}:25575
        volumes:
            - ${DATA_LOCATION:-./data}:/data
            - ${SETTINGS_LOCATION:-./settings/minecraft}:/settings
            - ${CONFIG_LOCATION:-./config}:/config
            - ${PLUGINS_LOCATION:-./plugins}:/plugins
            - ${MODS_LOCATION:-./mods}:/mods
            - ${MODPACKS_LOCATION:-./modpacks}:/modpacks
            - ${DATAPACKS_LOCATION:-./datapacks}:/datapacks
        restart: unless-stopped
        logging:
            options:
                max-size: 10m
                max-file: 3
        tty: true
        stdin_open: true
        environment:
            # DEBUG: "true"

            EULA: "true"

            SKIP_SUDO: ${SKIP_SUDO:-false}

            VERSION: ${SERVER_VERSION:-1.19.2}
            TYPE: ${SERVER_TYPE:-PAPER}
            TZ: ${SERVER_TIMEZONE:-Europe/Amsterdam}

            MEMORY: ${MEMORY:-2G}
            INIT_MEMORY: ${INIT_MEMORY:-2G}
            MAX_MEMORY: ${MAX_MEMORY:-2G}

            JVM_OPTS: ${JVM_OPTS:-}
            JVM_XX_OPTS: ${JVM_XX_OPTS:-}
            JVM_DD_OPTS: ${JVM_DD_OPTS:-}

            USE_AIKAR_FLAGS: ${USE_AIKAR_FLAGS:-}
            USE_MEOWICE_FLAGS: ${USE_MEOWICE_FLAGS:-}

            SYNC_SKIP_NEWER_IN_DESTINATION: ${SYNC_SKIP_NEWER_IN_DESTINATION:-}

            ENABLE_RCON: ${RCON_ENABLED:-true}
            RCON_PASSWORD: ${RCON_PASSWORD:-password}
            RCON_PORT: ${RCON_PORT:-25575}

            OVERRIDE_ICON: ${ICON_OVERWRITE:-false}
            ICON: ${ICON_LOCATION:-}

            WHITELIST_FILE: ${WHITELIST_LOCATION:-}
            OPS_FILE: ${OPS_LOCATION:-}

            REMOVE_OLD_MODS: ${REMOVE_OLD_MODS:-true}
            REMOVE_OLD_MODS_DEPTH: ${REMOVE_OLD_MODS_DEPTH:-1}
            REMOVE_OLD_MODS_INCLUDE: ${REMOVE_OLD_MODS_INCLUDE:-*.jar}

            DATAPACKS: ${DATAPACK_FILES:-}

            REMOVE_OLD_DATAPACKS: ${REMOVE_OLD_DATAPACKS:-true}
            REMOVE_OLD_DATAPACKS_DEPTH: ${REMOVE_OLD_DATAPACKS_DEPTH:-1}
            REMOVE_OLD_DATAPACKS_INCLUDE: ${REMOVE_OLD_DATAPACKS_INCLUDE:-*.zip}

            CF_SERVER_MOD: ${MODPACK:-}
            CF_BASE_DIR: ${MODPACK_BASE_DIR:-/data}

            # https://github.com/itzg/docker-minecraft-server#server-configuration
            OVERRIDE_SERVER_PROPERTIES: ${OVERRIDE_SERVER_PROPERTIES:-true}

            ALLOW_FLIGHT: ${SERVER_PROPERTIES_ALLOW_FLIGHT:-false}
            ALLOW_NETHER: ${SERVER_PROPERTIES_ALLOW_NETHER:-true}

            ANNOUNCE_PLAYER_ACHIEVEMENTS: ${SERVER_PROPERTIES_ANNOUNCE_PLAYER_ACHIEVEMENTS:-true}

            BROADCAST_CONSOLE_TO_OPS: ${SERVER_PROPERTIES_BROADCAST_CONSOLE_TO_OPS:-true}
            BROADCAST_RCON_TO_OPS: ${SERVER_PROPERTIES_BROADCAST_RCON_TO_OPS:-true}

            DIFFICULTY: ${SERVER_PROPERTIES_DIFFICULTY:-easy}

            ENABLE_COMMAND_BLOCK: ${SERVER_PROPERTIES_ENABLE_COMMAND_BLOCK:-false}
            ENABLE_JMX: ${SERVER_PROPERTIES_ENABLE_JMX_MONITORING:-false}
            JMX_HOST: ${SERVER_PROPERTIES_JMX_MONITORING_HOST:-}

            ENABLE_QUERY: ${SERVER_PROPERTIES_ENABLE_QUERY:-false}
            ENABLE_STATUS: ${SERVER_PROPERTIES_ENABLE_STATUS:-true}
            ENABLE_WHITELIST: ${SERVER_PROPERTIES_WHITELIST:-true}

            ENFORCE_SECURE_PROFILE: ${SERVER_PROPERTIES_ENFORCE_SECURE_PROFILE:-false}
            ENFORCE_WHITELIST: ${SERVER_PROPERTIES_ENFORCE_WHITELIST:-true}

            ENTITY_BROADCAST_RANGE_PERCENTAGE: ${SERVER_PROPERTIES_ENTITY_BROADCAST_RANGE_PERCENTAGE:-100}

            FORCE_GAMEMODE: ${SERVER_PROPERTIES_FORCE_GAMEMODE:-false}

            FUNCTION_PERMISSION_LEVEL: ${SERVER_PROPERTIES_FUNCTION_PERMISSION_LEVEL:-2}

            MODE: ${SERVER_PROPERTIES_GAMEMODE:-survival}

            GENERATE_STRUCTURES: ${SERVER_PROPERTIES_GENERATE_STRUCTURES:-true}
            GENERATOR_SETTINGS: ${SERVER_PROPERTIES_GENERATOR_SETTINGS:-{}}

            HARDCORE: ${SERVER_PROPERTIES_HARDCORE:-false}

            LEVEL: ${SERVER_PROPERTIES_LEVEL_NAME:-world}
            SEED: ${SERVER_PROPERTIES_LEVEL_SEED:-}
            LEVEL_TYPE: ${SERVER_PROPERTIES_LEVEL_TYPE:-minecraft:normal}

            MAX_BUILD_HEIGHT: ${SERVER_PROPERTIES_MAX_BUILD_HEIGHT:-319}
            MAX_PLAYERS: ${SERVER_PROPERTIES_MAX_PLAYERS:-5}
            MAX_TICK_TIME: ${SERVER_PROPERTIES_MAX_TICK_TIME:-60000}
            MAX_WORLD_SIZE: ${SERVER_PROPERTIES_MAX_WORLD_SIZE:-29999984}

            MOTD: ${SERVER_PROPERTIES_MOTD:-Minecraft Server powered by Docker}

            NETWORK_COMPRESSION_THRESHOLD: ${SERVER_PROPERTIES_NETWORK_COMPRESSION_THRESHOLD:-256}

            ONLINE_MODE: ${SERVER_PROPERTIES_ONLINE_MODE:-true}

            OP_PERMISSION_LEVEL: ${SERVER_PROPERTIES_OP_PERMISSION_LEVEL:-4}

            PLAYER_IDLE_TIMEOUT: ${SERVER_PROPERTIES_PLAYER_IDLE_TIMEOUT:-0}

            PREVENT_PROXY_CONNECTIONS: ${SERVER_PROPERTIES_PREVENT_PROXY_CONNECTIONS:-false}

            PREVIEWS_CHAT: ${SERVER_PROPERTIES_PREVIEWS_CHAT:-false}

            PVP: ${SERVER_PROPERTIES_PVP:-true}

            QUERY_PORT: 25565

            RESOURCE_PACK_ENFORCE: ${SERVER_PROPERTIES_REQUIRE_RESOURCE_PACK:-false}

            RESOURCE_PACK: ${SERVER_PROPERTIES_RESOURCE_PACK:-}
            RESOURCE_PACK_SHA1: ${SERVER_PROPERTIES_RESOURCE_PACK_SHA1:-}

            SERVER_IP:
            SERVER_NAME: ${SERVER_PROPERTIES_SERVER_NAME:-Minecraft Server powered by Docker}
            SERVER_PORT: 25565

            SIMULATION_DISTANCE: ${SERVER_PROPERTIES_SIMULATION_DISTANCE:-10}

            SNOOPER_ENABLED: ${SERVER_PROPERTIES_SNOOPER_ENABLED:-true}

            SPAWN_ANIMALS: ${SERVER_PROPERTIES_SPAWN_ANIMALS:-true}
            SPAWN_MONSTERS: ${SERVER_PROPERTIES_SPAWN_MONSTERS:-true}
            SPAWN_NPCS: ${SERVER_PROPERTIES_SPAWN_NPCS:-true}
            SPAWN_PROTECTION: ${SERVER_PROPERTIES_SPAWN_PROTECTION:-16}

            SYNC_CHUNK_WRITES: ${SERVER_PROPERTIES_SYNC_CHUNK_WRITES:-true}

            USE_NATIVE_TRANSPORT: ${SERVER_PROPERTIES_USE_NATIVE_TRANSPORT:-true}

            VIEW_DISTANCE: ${SERVER_PROPERTIES_VIEW_DISTANCE:-10}

    backup:
        image: itzg/mc-backup:latest
        container_name: ${CONTAINER_NAME:-minecraft}_backup
        hostname: ${HOST_NAME:-minecraft}_backup
        volumes:
            - ${DATA_LOCATION:-./data}:/data:ro
            - ${BACKUP_LOCATION:-./backups}:/backups
        restart: unless-stopped
        logging:
            options:
                max-size: 10m
                max-file: 3
        network_mode: "service:minecraft"
        depends_on:
            - minecraft
        environment:
            INITIAL_DELAY: ${BACKUP_DELAY:-3m}

            BACKUP_NAME: ${SERVER_NAME:-minecraft}
            BACKUP_INTERVAL: ${BACKUP_INTERVAL:-2h}

            EXCLUDES: ${BACKUP_EXCLUDE:-*.jar,cache,logs}

            PRUNE_BACKUPS_DAYS: ${BACKUP_PRUNE:-7}

            RCON_HOST: ${SERVER_NAME:-minecraft}
            RCON_PORT: ${RCON_PORT:-25575}
            RCON_PASSWORD: ${RCON_PASSWORD:-password}

    proxy:
        image: itzg/mc-proxy:latest
        container_name: ${CONTAINER_NAME:-minecraft}_proxy
        hostname: ${HOST_NAME:-minecraft}_proxy
        ports:
            - ${PROXY_SERVER_PORT:-25565}:25577
            - ${PROXY_RCON_PORT:-25585}:25575
        volumes:
            - ${PROXY_SERVER_LOCATION:-./proxy/server}:/server
            - ${PROXY_SETTINGS_LOCATION:-./proxy/plugins}:/plugins
            - ${PROXY_CONFIG_LOCATION:-./proxy/config}:/config
        networks:
            - minecraft
        restart: unless-stopped
        logging:
            options:
                max-size: 10m
                max-file: 3
        depends_on:
            - minecraft
        profiles:
            - proxy
        environment:
            # DEBUG: "true"

            TYPE: ${PROXY_TYPE:-VELOCITY}

            ENABLE_RCON: ${PROXY_RCON_ENABLED:-true}
            RCON_PASSWORD: ${PROXY_RCON_PASSWORD:-password}
            RCON_PORT: ${PROXY_RCON_PORT:-25585}

            MEMORY: ${PROXY_MEMORY:-512m}
            INIT_MEMORY: ${PROXY_INIT_MEMORY:-512m}
            MAX_MEMORY: ${PROXY_MAX_MEMORY:-512m}

            JVM_OPTS: ${PROXY_JVM_OPTS:-}
            JVM_XX_OPTS: ${PROXY_JVM_XX_OPTS:-}
            JVM_DD_OPTS: ${PROXY_JVM_DD_OPTS:-}

            ICON: ${PROXY_ICON_LOCATION:-}
            OVERRIDE_ICON: ${PROXY_ICON_OVERWRITE:-false}

            NETWORKADDRESS_CACHE_TTL: ${PROXY_NETWORKADDRESS_CACHE_TTL:-60}

            PLUGINS: ${PROXY_PLUGINS:-}
            PLUGINS_FILE: ${PROXY_PLUGINS_FILE:-}

            SPIGET_PLUGINS: ${PROXY_SPIGET_PLUGINS:-}

            MODRINTH_PROJECTS: ${PROXY_MODRINTH_PROJECTS:-}

            BUNGEE_JOB_ID: ${PROXY_BUNGEE_JOB_ID:-}
            BUNGEE_JAR_REVISION: ${PROXY_BUNGEE_JAR_REVISION:-}
            BUNGEE_BASE_URL: ${PROXY_BUNGEE_BASE_URL:-}
            BUNGEE_JAR_URL: ${PROXY_BUNGEE_JAR_URL:-}
            BUNGEE_JAR_FILE: ${PROXY_BUNGEE_JAR_FILE:-}

            WATERFALL_VERSION: ${PROXY_WATERFALL_VERSION:-}
            WATERFALL_BUILD_ID: ${PROXY_WATERFALL_BUILD_ID:-}

            VELOCITY_VERSION: ${PROXY_VELOCITY_VERSION:-}
            VELOCITY_BUILD_ID: ${PROXY_VELOCITY_BUILD_ID:-}

            HEALTH_HOST: ${PROXY_HEALTH_HOST:-}
            HEALTH_USE_PROXY: ${PROXY_HEALTH_USE_PROXY:-}

            ENABLE_JMX: ${PROXY_ENABLE_JMX:-}

    monitor:
        image: itzg/mc-monitor:latest
        container_name: ${CONTAINER_NAME:-minecraft}_monitor
        hostname: ${HOST_NAME:-minecraft}_monitor
        networks:
            - minecraft
        restart: unless-stopped
        logging:
            options:
                max-size: 10m
                max-file: 3
        command: gather-for-telegraf
        depends_on:
            - minecraft
        profiles:
            - monitor
        environment:
            GATHER_INTERVAL: 5s
            GATHER_TELEGRAF_ADDRESS: telegraf:8094
            GATHER_SERVERS: ${MONITOR_GATHER_SERVERS:-minecraft}

    telegraf:
        image: telegraf:latest
        container_name: ${CONTAINER_NAME:-minecraft}_telegraf
        hostname: ${HOST_NAME:-minecraft}_telegraf
        networks:
            - minecraft
        ports:
            - ${TELEGRAF_PORT:-8094}:8094
        volumes:
            - ./settings/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - /var/lib/docker/:/var/lib/docker:ro
            - /:/hostfs:ro
        restart: unless-stopped
        logging:
            options:
                max-size: 10m
                max-file: 3
        depends_on:
            - monitor
        profiles:
            - monitor
        environment:
            INFLUXDB_ORG: ${INFLUXDB_ORG}
            INFLUXDB_BUCKET: ${INFLUXDB_BUCKET}
            INFLUXDB_ADMIN_TOKEN: ${INFLUXDB_ADMIN_TOKEN}

            HOST_ETC: /hostfs/etc
            HOST_PROC: /hostfs/proc
            HOST_SYS: /hostfs/sys
            HOST_VAR: /hostfs/var
            HOST_RUN: /hostfs/run
            HOST_MOUNT_PREFIX: /hostfs

    map:
        image: nginx:latest
        container_name: ${CONTAINER_NAME:-minecraft}_map
        hostname: ${HOST_NAME:-minecraft}_map
        networks:
            - minecraft
        ports:
            - ${DYNMAP_WEBSERVER_PORT:-80}:80
        volumes:
            - ./settings/nginx:/settings
        restart: unless-stopped
        logging:
            options:
                max-size: 10m
                max-file: 3
        command: ./settings/scripts/run_nginx.sh
        depends_on:
            - minecraft
        profiles:
            - map
        environment:
            SERVER_NAME: ${HOST_NAME:-minecraft}

networks:
    minecraft:
        name: ${NETWORK_NAME:-minecraft}
